<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - TheTestGuru</title>
    <meta name="twitter:description" content="Over 10 years of service in the information technology field and our experienced counselors are ready to help you! Let us assure the infrastructure for your success!">
    <meta name="twitter:title" content="The Test Guru LTD">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta name="description" content="Over 10 years of service in the information technology field and our experienced counselors are ready to help you! Let us assure the infrastructure for your success!">
    <meta property="og:image" content="assets/img/logos/default.png">
    <meta name="twitter:image" content="assets/img/logos/cover.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/favicons/android-chrome-512x512.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alike+Angular">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almarai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+Display">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amaranth">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amethysta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amita">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anaheim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andada">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Andika">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic+Didone">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arapey">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Narrow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arima+Madurai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Armata">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <link rel="stylesheet" href="assets/css/stylish-portfolio.css">
    <link rel="stylesheet" href="assets/css/stylish-portfolio.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="padding-bottom:1rem!important;">
        <div class="container"><a class="navbar-brand" href="index.html">
    <img src="assets/img/logos/mono.svg" style="width:200px;height=30px;">
</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="service-page.html">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page" style="padding-top:0px;">
        <section class="pulse animated clean-block clean-hero" style="background-image: url(&quot;assets/img/backgrounds/base-image.jpg&quot;);color: rgba(0,0,0,0.45);">
            <div class="text">
                <h2 style="font-family: Aldrich, sans-serif;">THE TEST GURU</h2>
                <p>Let us assure the infrastructure for your success!</p><button class="btn btn-outline-light btn-lg" type="button" onclick="window.location.href=&#39;contact-us.html&#39;">Contact Us</button></div>
        </section>
        <section class="clean-block clean-info dark" style="padding-bottom:10px;">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="color:#155d74!important;">10 Years of Service</h2>
                    <p>Over 10 years of service in the information technology field and our experienced counselors are ready to help you!</p><div class="features-boxed">
    <div class="container">
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i style="color:#155d74!important;font-size:2.5em;" class="fas fa-calculator icon"></i>
                    <h3 class="name">Functional Testing</h3>
                    <p class="description">It ensures quality of the application to enable informed decisions on the sustainability of its release to production.</p><a class="learn-more" href="service-page.html">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i style="color:#155d74!important;font-size:2.5em;" class="fas fa-award icon"></i>
                    <h3 class="name">Security Testing</h3>
                    <p class="description">Our tester identifies the threats application under test and measures its potential vulnerabilities, to ensure that the application does not stop functioning.</p><a class="learn-more" href="service-page.html">Learn more »</a></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i style="color:#155d74!important;font-size:2.5em;" class="fas fa-balance-scale-left icon"></i>
                    <h3 class="name">Non-Functional</h3>
                    <p class="description">Non-functional tests performed to verify the attributes of the system such as memory leaks, performance or robustness of the system.</p><a class="learn-more" href="service-page.html">Learn more »</a></div>
            </div>
        </div>
    </div>
</div>
                    <div style="padding-top: 0px;"><button class="btn btn-outline-light btn-lg dark-hover" type="button" onclick="window.location.href=&#39;service-page.html&#39;" style="outline: solid 1px black;color: black;">Our Services</button></div>
                </div>
            </div>
        </section>
        <section class="clean-block clean-info">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" style="color:#155d74!important;">Recent Clients</h2>
                </div>
            </div>
            <div class="container">
                <div class="content-section-heading text-center"></div>
                <div class="row no-gutters">
                    <div class="col-lg-6" style="padding-right:5px;">
                        <a class="portfolio-item" href="#">
                            <div class="caption"></div><img class="img-fluid" src="assets/img/clients/home-office-2.png"></a>
                    </div>
                    <div class="col-lg-6" style="padding-left:5px;">
                        <a class="portfolio-item" href="#">
                            <div class="caption"></div><img class="img-fluid" src="assets/img/clients/dbs-2.jpg"></a>
                    </div>
                    <div class="col-lg-6" style="padding-right:5px;padding-top:10px;">
                        <a class="portfolio-item" href="#">
                            <div class="caption"></div><img class="img-fluid" src="assets/img/clients/mod-2.jpg"></a>
                    </div>
                    <div class="col-lg-6" style="padding-left:5px;padding-top:10px;">
                        <a class="portfolio-item" href="#">
                            <div class="caption"></div><img class="img-fluid" src="assets/img/clients/nhs-2.png"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features dark">
            <div class="container" id="services">
                <div class="block-heading">
                    <h2 class="text-info" style="color:#155d74!important;">Our Experience</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-diamond icon" style="color:#155d74!important;"></i>
                        <p>After 10 years in the IT industry, we decided to alter direction. Now, we share use our experience to help others. Our ramp up process is designed to empower your technical team and outfit them with the tools they need to succeed.</p>
                    </div>
                    <div class="col-md-5 feature-box">
                        <p>Our service includes a comprehensive consult to help identify gaps and opportunities, a comprehensive report that includes a project plan with timelines and milestones, a cost analysis, and a schedule. We also offer a suite of
                            quality products that will help you get there quickly and smoothly.&nbsp;</p><i class="icon-target icon" style="color:#155d74!important;"></i></div>
                    <div class="col-md-5 feature-box">
                        <p>Business mentors are key—that’s why when it comes to client selection, we’re choosy. We want to give each of you the time and guidance they deserve. We didn’t get there alone. And neither will you. Call us today.</p><i class="icon-briefcase icon"
                            style="color:#155d74!important;"></i></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="border: 3px solid #155d74!important;background-color: #163530!important;">
        <div class="footer-copyright" style="background-color: #163530!important;border: 1px solid #163530;">
            <p>The Test Guru LTD © 2020 Copyright All rights reserved</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="https://s.pageclip.co/v1/pageclip.js"></script>
    <script src="assets/js/smart-portfolio.js"></script>
</body>

</html>